.rowProfile {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.column1Profile {
  width: 25%;
  text-align: left;
  margin-left: 3%;
}
.column2Profile {
  width: 70%;
}
.editProfileBtn {
  padding: 3px 75px;
  font-size: large;
  margin-left: 7%;
}
.rowLinkBtn {
  display: flex;
  justify-content: space-between;
}
.navLinkBtn {
  font-size: larger;
  border: none;
  background: transparent;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 13%;
}
.navLinkBtn:hover {
  border-bottom: 4px solid orangered;
}
.rowOver {
  display: flex;
  justify-content: space-between;
}
.mainDivOverData {
  width: 40%;
  border: 1px solid rgb(158, 158, 158);
  display: inline-block;
  margin: 3%;
  padding: 1%;
  border-radius: 12px;
}
.visibilityDiv {
  color: #5f6871;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #5f6871;
  padding: 0.3em;
}

/* Media Query */
@media screen and (max-width: 992px) {
  .gridContainer {
    display: grid;
    grid-template-columns: auto;
  }
}
